<?php

namespace {{namespace_prefix}}\App\Controllers;

use {{namespace_prefix}}\App\Core\Lib\SingleTon;
use {{namespace_prefix}}\App\Services\AdminMenuService;

class AdminMenuController extends BaseController
{
	use SingleTon;

	public function register()
	{
		add_action( 'admin_menu', [ $this, 'addAdminMenu' ] );
	}

	public function addAdminMenu()
	{
		add_menu_page(
			__( '{{plugin_name}}', '{{text_domain}}' ),
			__( '{{plugin_name}}', '{{text_domain}}' ),
			'manage_options',
			'{{plugin_prefix}}-wp',
			[ $this, 'renderAdminMenu' ],
			'dashicons-admin-generic',
			40
		);
	}

	public function renderAdminMenu()
	{
		// $this->middleware( 'auth' );

		$menu_data = AdminMenuService::getInstance();
		$data      = $menu_data->getData();
		$this->render( '/admin/admin-menu.php', $data );
	}
}
