<?php
/**
 * @package {{text_domain}}
 *
 * Plugin Name: {{plugin_name}}
 * Plugin URI:
 * Description: A Framework For WordPress plugin development.
 * Version: 1.0.0
 * Author: CodesVault
 * Author URI: https://github.com/CodesVault
 * License: GPLv2 or later
 * Text Domain: {{text_domain}}
 */

use {{namespace_prefix}}\App\Core\Core;

if ( ! defined( 'ABSPATH' ) ) die();

define( '{{constent_prefix}}_FILE', __FILE__ );

require_once __DIR__ . '/Configs/bootstrap.php';

if ( file_exists( {{constent_prefix}}_DIR_PATH . '/vendor/autoload.php' ) ) {
	require_once {{constent_prefix}}_DIR_PATH . '/vendor/autoload.php';
}

Core::getInstance();
