<?php

namespace {{namaspace_root}}\App\Controllers{{namespace_suffix}};

use {{namaspace_root}}\App\Core\Lib\SingleTon;

class {{input_class_name}} extends BaseController
{
	use SingleTon;

	public function register()
	{}
}
