<?php

namespace {{namaspace_root}}\App\Controllers\Middleware{{namespace_suffix}};

use Kathamo\Framework\Lib\Middleware;

class {{input_class_name}} extends Middleware
{
	public function handle()
	{

	}
}
