<?php

namespace {{namaspace_root}}\Database\Migrations;

use CodesVault\Howdyqb\DB;
use {{namaspace_root}}\App\Core\Lib\SingleTon;

class {{input_class_name}}
{
	use SingleTon;

	public function __construct()
	{

	}
}
