<?php

namespace {{namaspace_root}}\App\Controllers{{namespace_suffix}};

use Kathamo\Framework\Lib\Service;
use {{namaspace_root}}\App\Core\Lib\SingleTon;

class {{input_class_name}} extends Service
{
	use SingleTon;

}
