<?php

namespace {{namespace_prefix}}\App\Services;

use {{namespace_prefix}}\App\Core\Lib\SingleTon;

class ActivationService
{
	use SingleTon;

	public function register()
	{
		// activation event handler
		\register_activation_hook(
			{{constent_prefix}}_FILE,
			[ __CLASS__, 'activate' ]
		);
	}

	public static function activate()
	{
		// do something
	}
}
