<?php

namespace {{namespace_prefix}}\App\Services;

use {{namespace_prefix}}\App\Core\Lib\SingleTon;

class DeactivationService
{
	use SingleTon;

	public function register()
	{
		// deactivation event handler
		\register_deactivation_hook(
			{{constent_prefix}}_FILE,
			[ __CLASS__, 'deactivate' ]
		);
	}

	public static function deactivate()
	{
		// do something
	}
}
