<?php

namespace {{namespace_prefix}}\App\Core;

use Kathamo\Framework\Lib\BootManager;
use {{namespace_prefix}}\App\Controllers\AdminMenuController;
use {{namespace_prefix}}\App\Core\Lib\SingleTon;
use {{namespace_prefix}}\App\Services\ActivationService;
use {{namespace_prefix}}\App\Services\DeactivationService;

final class Core extends BootManager
{
	use SingleTon;

	protected function registerList()
	{
		$this->registerList = [
			ActivationService::class,
			DeactivationService::class,
			AssetsManager::class,
			AdminMenuController::class,
		];
	}
}
