<?php

namespace {{namespace_prefix}}\App\Controllers;

use {{namespace_prefix}}\App\Core\Lib\SingleTon;
use {{namespace_prefix}}\App\Services\AdminMenuService;
use Kathamo\Framework\Lib\Http\Request;

class AdminMenuController extends BaseController
{
	use SingleTon;

	public function register()
	{
		add_action( 'admin_menu', [ $this, 'addAdminMenu' ] );
	}

	public function addAdminMenu()
	{
		add_menu_page(
			__( '{{plugin_name}}', '{{text_domain}}' ),
			__( '{{plugin_name}}', '{{text_domain}}' ),
			'manage_options',
			'{{text_domain}}-page',
			[ $this, 'renderAdminMenu' ],
			'dashicons-admin-generic',
			40
		);
	}

	public function renderAdminMenu()
	{
		// $this->middleware( 'auth' );

		// $validate = $this->validate( [
		// 	'page' => 'stringOnly',
		// ] );

		// $res = Request::get( 'https://jsonplaceholder.typicode.com/posts/1' );
		// dump($validate->getData(), $res->getBody(), 'Response from jsonplaceholder');

		$menu_data = AdminMenuService::getInstance();
		$data      = $menu_data->getData();
		$this->render( '/admin/admin-menu.php', $data );
	}
}
