<?php

return array(
	'plugin_prefix'		=> '{{plugin_prefix}}',
	'plugin_slug'		=> '{{plugin_prefix}}',
	'namaspace_root'	=> '{{namespace_prefix}}',
	'plugin_version'	=> '1.0.0',
	'plugin_name'		=> '{{plugin_name}}',
	'dev_mode'			=> false,
	'root_dir'			=> dirname(__DIR__),
	'middlewares'		=> [
		'auth'	=> {{namespace_prefix}}\App\Controllers\Middleware\Auth::class,
	],
);
