<?php

return array(
	'plugin_prefix'		=> '{{plugin_prefix}}',
	'plugin_slug'		=> '{{text_domain}}',
	'namaspace_root'	=> '{{namespace_prefix}}\App',
	'plugin_version'	=> '0.0.8',
	'plugin_name'		=> '{{plugin_name}}',
	'dev_mode'			=> false,
);
